<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.BlogDao">

    <!--保存博客-->
    <insert id="saveBlog" parameterType="Blog">
        insert into blog(title, content, isPublic, createTime, tid, uid)
        values(#{title}, #{content}, #{isPublic}, NOW(), #{tid}, #{uid})
    </insert>

    <!--我的博客-->
    <select id="showMyBlogs" parameterType="java.lang.Integer" resultType="java.util.Map">
        select
          b.bid,
          b.title,
          b.content,
          b.view,
          b.isPublic,
          b.createTime,
          t.name
        from
          blog b,
          type t
        where
          b.uid = #{uid}
        and
          b.tid = t.tid
    </select>

    <!--分类页面显示的博客-->
    <select id="findByTid" parameterType="java.util.Map" resultType="BlogDto">
        select
          b.bid,
          b.title,
          b.content,
          b.createTime,
--           DATE_FORMAT( b.createTime, '%Y-%m-%d %H:%i:%s' ) createTime,
          b.view,
          u.username,
          t.name tname
        from
          blog b,
          user u,
          type t
        where
          b.tid = #{tid}
        AND
          b.uid = u.uid
        AND
          b.tid = t.tid
        AND
          b.isPublic = 1
        ORDER BY
		  createTime DESC
        limit
          #{offset}, #{pageCount}
    </select>

    <!--查询博客总数-->
    <select id="findTotalCounts" resultType="java.lang.Integer">
        select count(bid) from blog where isPublic = 1
    </select>

    <!--查询一页的博客-->
    <select id="findByPage" parameterType="java.util.Map" resultType="BlogDto">
        select
          b.bid,
          b.title,
          b.content,
          DATE_FORMAT( b.createTime, '%Y-%m-%d %H:%i:%s' ) createTime,
          b.view,
          u.username,
          t.name tname
        from
          blog b,
          user u,
          type t
        where
          b.uid = u.uid
        AND
          b.tid = t.tid
        AND
          b.isPublic = 1
        ORDER BY
		  createTime DESC
        limit
          #{offset}, #{pageCount}
    </select>

    <!--根据分类id查询分类博客的数量-->
    <select id="findPageTypeBlogCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select
          count(bid)
        from
          blog
        where
          tid = #{tid}
        AND
          isPublic = 1
    </select>

    <!--查询是否有与此相关的博客-->
    <select id="findTypeBlogs" parameterType="integer" resultType="integer">
        select count(bid) from blog where tid = #{tid}
    </select>

    <!--博客列表-->
    <select id="listBlogs" parameterType="map" resultType="map">
        select
            b.bid bid,
            b.title title,
            b.content content,
            b.view view,
            b.isPublic isPublic,
            DATE_FORMAT(b.createTime, '%Y-%m-%d %H:%i:%s' ) showTime,
            u.name uname,
            t.name tname
        from
            type t,
            user u,
            blog b
        where
            b.uid = u.uid
        AND
            b.tid = t.tid
            <if test="blog.uid != null and blog.uid != ''">
                and b.uid = #{blog.uid}
            </if>
            <if test="blog.title != null and blog.title != ''">
                and title like '%${blog.title}%'
            </if>
        ORDER BY
            b.bid
        limit
            #{begin}, #{limit}
    </select>

    <!--根据传入信息查询博客数量-->
    <select id="countBlog" parameterType="Blog" resultType="integer">
        select
          count(bid)
        from
          blog
        <where>
            <if test="uid != null and uid != ''">
                uid = #{uid}
            </if>
            <if test="title != null and title != ''">
                and title like CONCAT(CONCAT('%', #{title}), '%')
            </if>
        </where>
    </select>

    <!--删除博客-->
    <delete id="deleteById" parameterType="integer">
        delete from blog where bid = #{bid}
    </delete>

    <!--更新博客-->
    <update id="updateBlog" parameterType="Blog">
        update blog
        <trim prefix="set" suffixOverrides="," suffix=" where title = #{title}">
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="tid != null and tid != ''">
                tid = #{tid},
            </if>
            <if test="isPublic != null and isPublic != ''">
                isPublic = #{isPublic},
            </if>
        </trim>
    </update>

    <!--根据id查询博客-->
    <select id="findById" parameterType="integer" resultType="BlogDto">
        select
          b.bid,
          b.title,
          b.content,
          DATE_FORMAT( b.createTime, '%Y-%m-%d %H:%i:%s' ) showTime,
          b.view,
          u.username,
          t.name tname
        from
          blog b,
          user u,
          type t
        where
          b.uid = u.uid
        AND
          b.tid = t.tid
        AND
          b.bid = #{bid}
    </select>

    <!--浏览数+1-->
    <update id="updateView" parameterType="integer">
        update blog set view = view + 1 where bid  = #{bid}
    </update>

    <!--查找所有博客-->
    <select id="getBlogs" resultType="map">
        select
          bid,
          title
        from
          blog
    </select>
</mapper>