<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
        <link rel="stylesheet" href="../static/css/nav.css" th:href="@{/css/nav.css}">
        <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
        <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
        <script src="../static/js/jquery-1.12.4.min.js" th:src="@{/js/jquery-1.12.4.min.js}"></script>
        <script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
        <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    </head>
    <body>

        <div th:replace="~{fragments/header :: header}"></div>

        <div class="layoutBody">
            <div class="layui-container">
                <div class="content">
                    <div class="box">
                        <div class="box-header">
                            <span class="a aa">博客</span>
                            <span class="b bb">共<span class="number" th:text="${map.counts}">3</span>篇</span>
                        </div>
                        <div class="box-content">
                            <div class="group pointer" th:each="blog:${map.blogs}" th:onclick="'newPage('+${blog.bid}+')'">
                                <div class="title">
                                    <span th:text="${blog.title}">php</span>
                                </div>
                                <div class="description">
                                    <span th:text="${blog.content}">php...</span>
                                </div>
                                <div class="user">
                                    <div class="user_cont">
                                        <i class="layui-icon">&#xe612;</i> <span th:text="${blog.username}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="layui-icon">&#xe637;</i> <span th:text="${blog.showTime}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="iconfont">&#xe60c;</i> <span th:text="${blog.view}"></span>
                                    </div>
                                    <div class="user_label" th:text="${blog.tname}">java</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="layui-btn layui-btn-radius btn_left" th:if="${map.currentPage != 1}" th:href="@{/(currentPage=${map.currentPage - 1})}">上一页</a>
                            <a class="layui-btn layui-btn-radius btn_right" th:if="${map.currentPage != map.totalPage}" th:href="@{/(currentPage=${map.currentPage + 1})}">下一页</a>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="box2-header">
					<span class="a">
						<i></i>
						分类
					</span>
                            <sapn class="b"><a class="a_more" th:href="@{/type/toType}">more >></a></sapn>
                        </div>
                        <div class="box2-content">
                            <div class="box2-group-box">
                                <div class="box2-group" th:each="type:${map.list}">
                                    <span class="a" th:text="${type.name}">python</span>
                                    <!--<i class="b"></i>-->
                                    <span class="b" th:text="${type.count}">1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>


    </body>
</html>