body {
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
}

.btn_box {
    color: rgb(48, 49, 51);
    display: inline-block;
    font-family: "microsoft yahei";
    position: relative;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn_box:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.btn_m {
    -webkit-appearance: none;
    border-radius: 4px;
    background-color: rgb(232, 240, 254);
    background-image: none;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 30px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.btn_m:focus {
    border-color: #409EFF;
    outline: 0;
}

/* 前置icon */
.el-input__prefix {
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    height: 100%;
    color: #C0C4CC;
    text-align: center;
    line-height: 40px;
    left: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.divBtn .btn_sub {
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
}

.loginForm {
    width: 400px;
    height: 400px;
    margin: 200px auto;
}

.divFont {
    font-family: "microsoft yahei";
    font-size: 18px;
    text-align: center;
}

.divBtn {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

.a_hover {
    cursor: pointer;
}

.a_hover:hover {
    color: deepskyblue;
}

.layui-form-item .biaodan {
    width: 200px;
}

.login_err {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.checkCode {
    max-height: 38px;
    width: 150px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: -2px;
}

.input_code{
    width: 245px;
}
