<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>分类增加</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
        <link rel="stylesheet" href="../../static/css/nav.css" th:href="@{/css/nav.css}">
        <link rel="stylesheet" href="../../static/css/type.css" th:href="@{/css/type.css}">
        <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
        <script src="../../static/js/jquery-1.12.4.min.js" th:src="@{/js/jquery-1.12.4.min.js}"></script>
        <script src="../../static/js/nav.js" th:src="@{/js/nav.js}"></script>
        <script src="../../static/js/type.js" th:src="@{/js/type.js}"></script>
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="nav_2">
            <a th:href="@{/type/toTypeList}" class="nav_2_list">管理</a>
            <bottom type="bottom" class="nav_2_add" onclick="addType()">新增</bottom>
        </div>
        <div class="layoutBody">
            <div class="layui-container">
                <form th:action="@{/type/pageTypeAdd}" onsubmit="return checkForm()">
                    <input type="hidden" name="uid" th:if="${session.user ne null}" th:value="${session.user.uid}">
                    <button class="TypeButton">分类名</button>
                    <input type="text" placeholder="请输入分类名" class="TypeInput" name="name" id="typeName" onblur="checkTypeName()"><br><br><br>
                    <input type="submit" value="立即添加" class="layui-btn TypeSubmit">
                </form>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>