<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>footer</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
        <link rel="stylesheet" href="../../static/css/nav.css" th:href="@{/css/nav.css}">
        <script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    </head>
    <body>
        <div th:fragment="footer">
            <div class="layui-fluid">
                <div class="layui-nav layui-header footer">
                    <div class="font">
                        这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...
                        <hr class="layui-bg-cyan">
                        Copyright ©2020 blog Designed by yugangsheng | <a href="http://www.beian.miit.gov.cn" target="_blank" class="beian">赣ICP备20003486号</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>